* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color:#fff;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background:#fafafa;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
}

h1 {
  margin: 32px 0;
  color: #000;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgba(0, 150, 136, 1);
  outline: none;
  width: 320px;
  background: transparent;
  color: #000;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  background-color:#fafafa;
  font-size: 30px;
  color: #000AFE;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #000afe;
}

.todo-button.edit {
  padding: 10px;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  background-color:#fff;
  font-size: 25px;
  color:rgba(0, 150, 136, 1) ;
  text-transform: capitalize;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #000;
  font-size: 17px;
  background: linear-gradient(
    90deg,
    rgba(0, 150, 136, 1) 0%,
    #000afe 100%
  );
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}







.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  font-size: 20px;
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
